<ion-view title="Deadpool (2016)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
            <iframe src="https://www.youtube.com/embed/ZIM1HydF9UA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <form class="list">
            <h1><b>Deadpool (2016)</b></h1>
            <h2>Release on February, 10, 2016</h2>
            <br></br>
            <div>
                <p>
                    <h2><strong><b>Storyline</b></strong></h2>
                </p>
                <p style="text-align: justify">This is the origin story of former Special Forces operative turned mercenary Wade Wilson, who after being subjected to a rogue experiment that leaves him with accelerated healing powers, adopts the alter ego Deadpool.
                  Armed with his new abilities and a dark, twisted sense of humor, Deadpool hunts down the man who nearly destroyed his life.
                  See more at http://www.imdb.com/title/tt1431045/</p>
            </div>
        </form>
        <button class="button button-full button-balanced" ng-click="createEvent(item)" ><b>Book Now!</b></button>
    </ion-content>
</ion-view>
