<ion-view title="Warcraft (2016)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
            <iframe src="https://www.youtube.com/embed/RhFMIRuHAL4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <form class="list">
            <h3>Warcraft (2016)</h3>
            <h4>Release on JUNE, 10, 2016</h4>
            <div>
                <p>
                    <strong>Storyline</strong>
                </p>

                <p>The film portrays the origin story of the initial encounters between the humans and the orcs, with an emphasis upon both the Alliance's and the Horde's sides of their conflict. Featuring characters such as Durotan and Lothar, the film
                    will take place in a variety of locations established in the video game series. See more at http://www.imdb.com/title/tt0803096/</p>
            </div>
        </form>
    </ion-content>
</ion-view>
