<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Notifications</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Amazon Alexa</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Auto Pay</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" >Twitter</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Facebook</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Uber</ion-toggle>
        </form>
        <form class="list"></form>

        <button class="button button-assertive button-block ">Log Out</button>
    </ion-content>
</ion-view>
