
<ion-view title="FilmDash!">
  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <h3>Hottest Movies!</h3>
    <ion-list ng-controller="MovieCtrl"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
      <ion-item class="list-item" ng-repeat="item in popular_movies">
        <div class="video-wrapper">
          <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source ng-src="{{item.videoUrl}}" type="video/mp4"/>
          </video>
        </div>
        <div class="video-info">
          <a class="item item-avatar" href="templates/movie-details.html">{{item.Title}}</a>
          <button class="button button-full button-positive" ng-click="createEvent(item)">RSVP NOW!</button>

        </div>
    </ion-item>
  </ion-list>
</ion-content>

</ion-view>
