/* Empty. Add your own CSS if you like */

.login.pane{
  background-image: url("../img/warcraft-movie-poster-durotan-toby-kebbel.jpg");
  background-size: cover !important;
}

.filmdash_header {
  margin-left: 9%;
  margin-top: 18% !important;
  color: white;
  font-size: 65px;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-80%) translateY(-80%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.list-video {
  width: 100%;
  height: auto;
}

.list {
  margin-top: 100px;
}

a.item-avatar {
  padding:0;
  border:none;
  margin: 0;
}

.list-item {
  display: block;
}

.video-wrapper {
  width: 50%;
  display: inline-block;
}

.videoPlayer {
  width: 100%;
}

.video-info {
  width: 50%;
  display: inline-block;
}

.cellStyle {
  font-size: 12px;
  margin: 10px;
}
